header {
    background-color: #508AA8;
    height: 100%;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }

 * > p {
    font-family: 'Alata', sans-serif;                                                
 }

.start {
margin-right: 70%;
}

.end {
align-items: flex-end;
}

.photo {
    height: 247px;
    width: 247px;
    left: 227px;
    top: 35.5px;
    border-radius: 50%;
}

#section1 {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:#C8E0F4; 
    padding-top: 2%;
    padding-bottom: 2%;
}

.left {

}

.right {
    height: 120px;
    width: 614px;
    left: 0px;
    top: 0px;
    border-radius: nullpx;    
}

#section2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloco {
    height: 150px;
    width: 80px;
    left: 0px;
    top: 0px;
    border-radius: 5px;
    padding: 17px;
    margin: 5px;
    background-color: #BBD1EA;
    float: right;
}

.bloco > p {
    margin-top:120px;
    font-size: 12px
}

.fit-content {
    width: 100%;
}
.titulo-hobbie {
    margin-left:70%;
}

.bloco2 {
        height: 150px;
        width: 80px;
        left: 0px;
        top: 0px;
        border-radius: 5px;
        padding: 17px;
        margin: 5px;
        background-color: #A1C6EA;
        float: right;
}

.bloco2 > p {
    margin-top: 90px;
    font-size: 12px
}

.texto-bloco {
    margin-top: 120px;
}

.footer-left {
display:flex;
float: left;
justify-content: space-between;
width: fit-content;
}

.footer-left > a {
    padding-right: 5px;
}

.footer-right {
display: flex;
float: right;
}

footer { 
    background-color: #508AA8;
    padding: 2%;
    height: 30px;
    border-radius: 5px;
}

@media only screen 
    and (device-width: 428px) 
    and (device-height: 926px) 
    and (-webkit-device-pixel-ratio: 3) { 

        * { 
            display: flex;
            flex-direction: column;
        }
    }
